<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete University</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css')}}">

    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>
</head>
<body>
    {% include 'include/nav.html' %}
    <div class="form-wrapper">
    <form method="POST" action="delete-university">
        <label for="university-name">University</label>
        <input type="text" name="university-name" id="university-name" required>
        <br><br>

        <input type="checkbox" name="delete-all" value="True" id="delete-all" onchange="toggleFields(this.checked)">
        <label for="delete-all">Delete all information about this university</label>
        <br><br>

        <div id="dynamic-fields">
            <div class="same-line">
                <label for="title-name-1">Title</label>
                <input list="titles" name="title[]" id="title-name-1">
                {% include 'include/datalist.html' %}
            </div>
            <button type="button" onclick="addFields()" id="add-btn">+</button>
        </div>
        <br>
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>
